
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
}

.header {
    display: grid;
    grid-template-columns: repeat(12,8.33333%);
    grid-column: 1/13;
    background-color: aquamarine;
}

#logo {
    grid-column: 1/2;
    margin-left: 50px;
}

    #logo img {
        padding: 5px;
        width: 60px;
        margin-top: 0px;
    }

.search_field {
    display: flex;
    grid-column: 3/10;
    align-items: start;
    margin-top: 15px;
}

    .search_field input {
        width: 600px;
        height: 40px;
    }

    .search_field img {
        background-color: yellow;
        height: 40px;
        border: 1px solid;
    }

.login {
    margin-top: 20px;
    grid-column: 10/11;
    font-size: 20px;
}

.giohang {
    margin-top: 20px;
    grid-column: 11/13;
    font-size: 20px;
}

    .login a:hover, .giohang a:hover {
        text-decoration: underline;
    }

    .login a, .giohang a, .giohang i {
        color: black;
    }

/*Menu*/
.navbar {
    overflow: hidden;
    background-color: aquamarine;
    font-family: Arial;
}
    /* đường dẫn bên trong navigation */
    .navbar a {
        font-family: 'Times New Roman', Times, serif;
        float: left;
        font-size: 20px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
/* thành phần dropdown */
.dropdown {
    float: left;
    overflow: hidden;
}
    /* nút dropdown */
    .dropdown .nut_dropdown {
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin: 0;
    }
    /* thêm màu background khi nút dropdown khi hover */
    .navbar a:hover, .dropdown:hover .nut_dropdown {
        text-decoration: underline;
    }

/* Ẩn nội dung dropdown*/
.noidung_dropdown {
    column-count: 2;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}
    /* thiết lập style cho đường dẫn bên trong dropdown */
    .noidung_dropdown a {
        font-family: 'Times New Roman', Times, serif;
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
/* chọn background cho đường dẫn bên trong dropdown khi hover*/
/*        .noidung_dropdown a:hover {
            background-color: #ddd;
        }*/
/* Hiển thị nội dung dropdown khi được hover */
.dropdown:hover .noidung_dropdown {
    display: block;
}

/*    footer*/
#footer {
    display: grid;
    grid-column: 1/13;
    height: 200px;
    grid-template-columns: repeat(12,8.33333%);
    background-color: aquamarine;
    color: black;
    margin-top: 40px;
}

    #footer .footer1 {
        grid-column: 4/8;
        margin: auto 55px 15px 0;
    }

        #footer .footer1 p {
            padding: 10px 0;
        }

    #footer .footer2 {
        grid-column: 8/13;
        margin: auto 55px 15px 0;
    }

        #footer .footer2 p {
            padding: 10px 0;
        }

        #footer .footer2 a {
            color: black;
            text-decoration: none;
        }

            #footer .footer2 a:hover {
                text-decoration: underline;
            }

/*Main*/
.main {
    display: grid;
    grid-template-columns: repeat(12,8.33333%);
    grid-column: 1/13;
    /* width: 100%;*/
    font-size: 16px;
    margin: 30px 0px 0px 0px;
    padding: 0;
    height: auto;
}

    .main .bang {
        text-align: center;
        width: 900px;
    }
/**.bang,th,td {
    border:2px solid red;
    border-collapse: collapse;
}**/
.td1 {
    width: 150px;
    height: 150px;
}

.main .cart_product {
    grid-column: 2/8;
    width: 200px;
    float: left;
    height: auto;
    text-align: center;
}

.main .cart_price {
    grid-column-end: 11;
    width: auto;
    float: right;
    background: red;
    height: 500px;
}

.anh {
    height: 120px;
    width: 120px;
}

.xoa {
    width: 80px;
    height: 40px;
    background: #66a182;
    color: aliceblue;
    border: 0px solid white;
    border-radius: 4px;
    font-size: 16px;
}

/*---------Thanh toán--------*/
.main .cart_price {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    background-color: burlywood;
    margin-bottom: 15px;
}

.main .cart--right {
    text-align: center;
}

    .main .cart--right .cart__title--right {
        margin: 50px;
    }

    .main .cart--right .cart__products-total-price {
        margin: 50px;
    }

#order_total_price {
    color: red;
    margin: 10px;
}

.main .cart--right .cart__order-total {
    margin: 20px;
}

.cart__order-total p {
    margin-top: 5px;
}

.purchase-button {
    width: 150px;
    height: 25px;
    color: white;
    background-color: #66a182;
    border-radius: 4px;
    border: 0px;
}
@media screen and (max-width:800px) {
    .header {
        display: grid;
        grid-template-columns: repeat(4,25%);
    }

    #logo {
        grid-column: 1/2;
    }

    .header .search_field {
        grid-column: 2/4;
    }

    .login {
        display: none;
    }

    .giohang {
        grid-column: 4/4;
    }

    .navbar .dropdown {
        display: none;
    }

    .banner {
        height: 100px;
    }

    #footer .footer1 {
        grid-column: 2/8;
        margin-left: 0px;
    }

    #footer .footer2 a, #footer .footer2 h3 {
        white-space: nowrap;
    }
}
@media screen and (max-width:800px) {
    .header {
        display: grid;
        grid-template-columns: repeat(4,25%);
    }

    #logo {
        grid-column: 1/2;
    }

    .header .search_field {
        display: none;
    }

    .login {
        grid-column: 2/4;

    }

    .giohang {
        grid-column: 4/4;
    }

    .navbar .dropdown {
        display: none;
    }
    .navbar a {
        width: 100%;
    }

    .banner {
        height: 100px;
    }

    #footer .footer1 {
        grid-column: 2/8;
        margin-left: 0px;
    }

    #footer .footer2 a, #footer .footer2 h3 {
        white-space: nowrap;
    }
    .main .cart_price{
        grid-column:2/8;
    }
    .login{
        display:flex;
        overflow:unset;
    }
    .main .bang {
        text-align: center;
        width: 700px;
    }
    
}

